@model AttributeModel

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.ContainerID)
@Html.HiddenFor(m => m.Sequence)
@Html.HiddenFor(m => m.Existing)

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DataName, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.DataName)
    @Html.EditorFor(m => m.DataName, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DisplayText, new { @class = "form-label" })
    @Html.EditorFor(m => m.DisplayText, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DataType, new { htmlAttributes = new { @class = "form-label" } })
    @Html.EnumDropDownListFor(m => m.DataType, new { @class = "form-control" })
</div>

<div class="form-group">
    <label>
        @Html.EditorFor(m => m.IsKey) <span style="font-weight: bold;">Key Attribute</span>
    </label>
</div>

