@model ContextModel

<script>

    $(function ()
    {
        $('#ContainerList').sortable(
        {
            axis: "y",
            update: function (ev, ui)
            {
                $.each(this.children, function (ix, it)
                {
                    var current = $(this);
                    var next = $(this).next();

                    if (next.length > 0)
                    {
                        var current_sequence = current.children('input').first();
                        var current_sequence_label = current.children('label').first();
                        var next_sequence = next.children('input').first();
                        var next_sequence_label = next.children('label').first();

                        if (next_sequence.val() < current_sequence.val())
                        {
                            var tmp = current_sequence.val();
                            current_sequence.val(next_sequence.val());
                            current_sequence_label.text(next_sequence.val() + '.');
                            next_sequence.val(tmp);
                            next_sequence_label.text(tmp + '.');
                        }
                    }
                });
            },
        });

        $('#ContainerList').disableSelection();
    });

</script>

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.Existing)

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DataName, new { @class = "form-label" } )
    @Html.ValidationMessageFor(m => m.DataName)
    @Html.EditorFor(m => m.DataName, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DisplayText, new { @class = "form-label" } )
    @Html.EditorFor(m => m.DisplayText, new { htmlAttributes = new { @class = "form-control" } })
</div>

@if (Model.Containers.Any())
{
    <hr />
    <div id="ContainerList">
        @Html.EditorFor(m => m.Containers)
    </div>
}

<hr />

<button type="button" class="btn btn-sm" id="ctlAddContainer" onclick="dialogAction('@Url.Content("~/Metadata/AddRootContainer")'); $('#ctlDialogContainer').dialog('close');"><span class="glyphicon glyphicon-plus"></span> Add Container</button>
