@model EAVWebApplication.Models.Metadata.ContextViewModel

<script>

    $(function ()
    {
        $('#ContainerList').sortable(
        {
            axis: "y",
            update: function (ev, ui)
            {
                var sequences = [];

                $.each(this.children, function (ix, it)
                {
                    sequences.push($(this).children('input').first().val());
                });

                sequences = sequences.sort(function (a, b) { return (a-b); });

                $.each(this.children, function (ix, it)
                {
                    $(this).children('input').first().val(sequences[ix]);
                    $(this).children('label').first().text(sequences[ix]);
                });
            },
        });

        $('#ContainerList').disableSelection();
    });

</script>

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.Existing)

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DataName, new { @class = "form-label" } )
    @Html.ValidationMessageFor(m => m.DataName)
    @Html.EditorFor(m => m.DataName, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DisplayText, new { @class = "form-label" } )
    @Html.EditorFor(m => m.DisplayText, new { htmlAttributes = new { @class = "form-control" } })
</div>

@if (Model.Containers.Any())
{
    <hr />
    <div id="ContainerList">
        @Html.EditorFor(m => m.Containers)
    </div>
}

<button type="button" class="btn btn-sm" id="ctlAddContainer" onclick="dialogAction('@Url.Content("~/Metadata/AddRootContainer")'); $('#ctlDialogContainer').dialog('close');"><span class="glyphicon glyphicon-plus"></span> Add Container</button>
