@model ContainerModel

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.ParentID)
@Html.HiddenFor(m => m.Existing)

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DataName, new { @class = "form-label" })
    @Html.ValidationMessageFor(m => m.DataName)
    @Html.EditorFor(m => m.DataName, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DisplayText, new { @class = "form-label" })
    @Html.EditorFor(m => m.DisplayText, new { htmlAttributes = new { @class = "form-control" } })
</div>

<div class="form-group">
    <label>
        @Html.EditorFor(m => m.IsRepeating) <span style="font-weight: bold;">Repeating</span>
    </label>
</div>

@if (Model.ChildContainers.Any())
{
    <hr />

    @Html.EditorFor(m => m.ChildContainers)
}

<hr />

<input type="button" class="btn" id="ctlAddContainer" value="Add Child Container" onclick="dialogAction('@Url.Content("~/Metadata/AddChildContainer")'); $('ctlDialogContainer').dialog('close');" />

@if (Model.Attributes.Any())
{
    <hr />

    @Html.EditorFor(m => m.Attributes)
}

<hr />

<input type="button" class="btn" id="ctlAddAttribute" value="Add Attribute" onclick="dialogAction('@Url.Content("~/Metadata/AddAttribute")'); $('ctlDialogContainer').dialog('close');" />

