@model AttributeModel

<div>
    @Html.HiddenFor(m => m.Sequence)
    <label>@(Model.Sequence).</label>
    <span>
        <sup>
            @if (Model.IsKey)
            { <span class="glyphicon glyphicon-key">&#x1F511;</span> }
            else
            { <span class="glyphicon">&nbsp;</span> }
        </sup>
        <label>@Html.DisplayFor(m => m.DisplayText)</label> ( @Html.DisplayFor(m => m.Name) )
    </span>
    <span>
        <button type="button" class="btn btn-sm" onclick="dialogAction('@Url.Content("~/Metadata/EditAttribute")?id=' + @Model.ID);"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </span>
    <span>
        <button type="button" class="btn btn-sm" onclick="dialogAction('@Url.Content("~/Metadata/DeleteAttribute")?id=' + @Model.ID);"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </span>
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.ContainerID)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.DataName)
    @Html.HiddenFor(m => m.DisplayText)
    @Html.HiddenFor(m => m.DataType)
    @Html.HiddenFor(m => m.IsKey)
    @Html.HiddenFor(m => m.Existing)
</div>
