@model AttributeModel

<div>
    <label>Name:</label> @Html.DisplayFor(m => m.Name) <label>Data Name:</label> @Html.DisplayFor(m => m.DataName) <label>Display Text:</label> @Html.DisplayFor(m => m.DisplayText)
    <button type="button" class="btn btn-sm" onclick="dialogAction('@Url.Content("~/Metadata/EditAttribute")?id=' + @Model.ID);"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    <button type="button" class="btn btn-sm" onclick="dialogAction('@Url.Content("~/Metadata/DeleteAttribute")?id=' + @Model.ID);"><span class="glyphicon glyphicon-trash"></span> Delete</button>
</div>
