@model ContainerModel

<div>
    @if (Model.ParentID != 0)
    {
        <label>Name:</label> @Html.DisplayFor(m => m.Name) <label>Data Name:</label> @Html.DisplayFor(m => m.DataName) <label>Display Text:</label> @Html.DisplayFor(m => m.DisplayText)
        <button type="button" class="btn" onclick="dialogAction('@Url.Content("~/Metadata/EditChildContainer")?id=' + @Model.ID);"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn" onclick="dialogAction('@Url.Content("~/Metadata/DeleteChildContainer")?id=' + @Model.ID);"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    }
    else
    {
        <label>Name:</label> @Html.DisplayFor(m => m.Name) <label>Data Name:</label> @Html.DisplayFor(m => m.DataName) <label>Display Text:</label> @Html.DisplayFor(m => m.DisplayText)
        <button type="button" class="btn" onclick="dialogAction('@Url.Content("~/Metadata/EditRootContainer")?id=' + @Model.ID);"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn" onclick="dialogAction('@Url.Content("~/Metadata/DeleteRootContainer")?id=' + @Model.ID);"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    }
</div>
