@model EAVWebApplication.Models.Data.ViewModelInstance


@Html.HiddenFor(m => m.ContainerID)
@Html.HiddenFor(m => m.SubjectID)
@Html.HiddenFor(m => m.InstanceID)
@Html.HiddenFor(m => m.ParentInstanceID)
@Html.HiddenFor(m => m.ObjectState)

@if (Model.Values.Any() || Model.ChildContainers.Any())
{
    <div class="eav-instance-container">
        @if (Model.ObjectState != EAV.Model.ObjectState.Deleted)
        {
            @Html.EditorFor(m => m.Values)

            @Html.EditorFor(m => m.ChildContainers)
        }
        else
        {
            @Html.DisplayFor(m => m.Values)

            @Html.DisplayFor(m => m.ChildContainers)
        }
    </div>
}
