@model EAVWebApplication.Models.Data.ViewModelInstance


@Html.HiddenFor(m => m.ContainerID)
@Html.HiddenFor(m => m.SubjectID)
@Html.HiddenFor(m => m.InstanceID)
@Html.HiddenFor(m => m.ParentInstanceID)

@if (Model.Values.Any())
{
    <div class="eav-instance-container">
        @if (Model.ObjectState != EAV.Model.ObjectState.Deleted)
        {
            @Html.EditorFor(m => m.Values)
        }
        else
        {
            @Html.DisplayFor(m => m.Values)
        }
    </div>
}
