@model EAVWebApplication.Models.Data.ViewModelContainer

@{
    ViewBag.Title = "Data Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Dictionary<string, object> instanceListAttributes = new Dictionary<string, object>()
{
{ "id", "ctlInstanceList" },
{ "onchange", "RetrieveInstance();" }
};

    if (Model.Instances.Count == 1) { instanceListAttributes["disabled"] = "disabled"; }
}


<style>

    .eav-container-header
    {
        margin-left: 3px;
        font-weight: bold;
        border: 1px solid #A0A0A0;
        background-color: #9DBCCE;
        border-radius: 3px;
        padding: 10px;
        padding-left: 5px;
        margin: 3px;
    }

    .eav-container-container
    {
        border: 1px solid #AAAAAA;
        background-color: #000000;
        border-radius: 3px;
        margin: 3px;
    }

    .eav-instance-container
    {
        border: 1px solid #808080;
        background-color: #DCE0E4;
        border-radius: 3px;
        margin: 3px;
        padding: 10px;
    }

    .eav-value-container
    {
        margin-left: 5px;
    }

    .eav-value-caption
    {
        font-weight: bold;
        font-size: medium;
    }

    .eav-value-control
    {
    }

    .eav-units-text
    {
    }
</style>

<script type="text/javascript">

    function RetrieveInstance()
    {
        $.ajax(
        {
            url: '@Url.Content("~/Data/RetrieveInstance/")',
            type: 'POST',
            data: FormData(document.getElementById('ctlDataForm')),
            processData: false,
            contentType: false,
            cache: false,
            success: function (data, status, request)
            {
                $('#ctlInstancePlaceholder').empty().html(data);
            },
            error: function (request, status, err)
            {
                alert('No Joy!');
                console.log('Connection to server not made. Status: \'' + status + '\'\r\nReported error: \'' + err + '\'\r\n')
            },
            complete: function (request, status)
            {
                console.log('Call to method \'RetrieveInstance\' complete.\r\n')
            },
        });
    }

</script>

<h2>Context Display Text Here</h2>

<hr />

@using (Html.BeginForm("SaveForm", "Data", FormMethod.Post, new { id = "ctlDataForm" }))
{
    @Html.HiddenFor(m => m.ContainerID)
    @Html.HiddenFor(m => m.ParentContainerID)
    @Html.HiddenFor(m => m.Sequence)
    @Html.HiddenFor(m => m.IsRepeating)
    @Html.HiddenFor(m => m.DisplayMode)
    @Html.HiddenFor(m => m.Enabled)

    @Html.DropDownListFor(m => m.SelectedInstanceID, Model.Instances.OrderBy(it => it.InstanceID).Select(it => new SelectListItem() { Text = it.InstanceID.ToString(), Value = it.InstanceID.ToString() }), instanceListAttributes)

    <hr />

    <div class="eav-container-container">

        @Html.HiddenFor(m => m.DisplayText)
        <div class="eav-container-header">@Model.DisplayText</div>

        <div class="eav-instances-container" id="ctlInstancePlaceholder">
            @Html.Partial("SingletonInstance")
        </div>

    </div>

    <hr />

    @Html.ActionLink("Back", "Index")

    <input type="submit" class="btn" value="Save" />
}
